*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #2987e4 50%,
        #16191e 50%
    );
}
.clock{
    background: #e5ecf8;
    height: 320px;
    width: 320px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-sizing: content-box;
    border-radius: 50%;
    border: 15px solid black;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.2);
}
img{
    position: relative;
}

.madeby{
    position: absolute;
    color: rgb(182, 16, 16);
    font-size: 20px;
    font-style: italic;
    left: 41%;
    top: 22%;
    
}

.hand{
    position: absolute;
    background-color: #fff;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}
.hour{
    height: 60px;
    width: 10px;
    top: 100px;
    background-color: #0c0c0c;
}
.min{
    height: 80px;
    width: 5px;
    top: 80px;
    background-color: rgb(3, 3, 3);
}
.sec{
    height: 90px;
    width: 3px;
    top: 70px;
    background-color: red;
}





.txt{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin-left: 25px;
}

h1{
    font-size: 50px;
    color: rgb(17, 16, 14);
    letter-spacing: 20px;
}
.web{
    position: absolute;
    color: #fff;
    font-size: 50px;
    margin-bottom: 300px;
    align-items: center;
    letter-spacing: 20px;
    margin-left: 42.5%;
}

